{% extends 'base.html' %}
{% load static %}
{% block content %}	
	<p class="home">
	<body>
		<div class="container">
		<img class="materialboxed" width="300" src="{% static 'img/del1.jpg' %}" alt="KTM Bike">
		<h1>5 big food trends coming your way in 2021</h1>
	
		 <blockquote>
      Just as everyone was making their predictions for last year’s food and restaurant trends, a certain pandemic appeared and shook things up. As people around the world stayed home more often and ordered more delivery and takeout than ever before, new trends emerged. Whereas vegan food, local ingredients, build-your-own dishes, and snack-sized bites were still very much a thing, lockdown cravings also included a lot of comfort food, like mac and cheese, burgers, and noodles, and desserts. Consumers also cooked more home meals, a trend which restaurants inserted themselves into by selling meal kits and family packs.So what can we expect this year? Here are 5 trends that are sure to start popping up on plates (or in delivery bags) in 2021.
    </blockquote>

	</p>

{% endblock %}